.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  color: black;
  padding: 0 19px;
  visibility: hidden;
}

.modal__container {
  max-width: 430px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.modal__heading {
  max-width: 330px;
  margin: 34px 64px 0 36px;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  height: 22px;
}

.modal_opened {
  display: flex;
  visibility: visible;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon\ SVG.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.8;
}

.modal__form {
  margin: 54px 36px 36.51px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.modal__button {
  border-radius: 2px;
  background: #000;
  width: 358px;
  height: 50.152px;
  flex-shrink: 0;
  color: white;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}
.modal__input:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 14px;
  padding: 13.26px 0 13.34px;
  color: black;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 61.43px;
  margin-top: 43px;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    max-height: 100%;
  }

  .modal__form {
    margin: 75px 22px 25px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }

  .modal__heading {
    font-size: 18px;
    max-width: 238px;
    margin: 25px 22px 0;
  }

  .modal__input {
    max-width: 238px;
    padding: 0 0 13px;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .modal__button {
    font-size: 14px;
    width: 100%;
    height: 46px;
  }
}
